:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-color: #2f303a;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----------header list -----------------*/
.page-header {
  background: var(--white-color);
}

.logo-part {
  color: var(--accent-text-color);
}

.header-link-studio,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-nav .link:hover,
.header-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-text-color);
}

/* -----------------Hero--------------------- */
.hero {
  background: var(--hero-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.header-nav .link.current {
  color: var(--accent-text-color);
}

.hero-button {
  font-family: inherit;
  color: var(--white-color);
  background: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* -----------------------features-------------*/
.features,
.work {
  background-color: var(--white-color);
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ---------------our work--------------- */
.work-list {
  background-color: var(--white-color);
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* -----------------------team------------------------ */
.team-list {
  background: #F5F4FA;
}

.team-item{
    background-color: var(--white-color);
}
.team-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* --------------------footer---------------------- */
.footer {
  background: var(--hero-color);
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contacts-link,
.contacts-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-address:hover,
.contacts-link:hover,
.contacts-tel:hover,
.contacts-address:focus,
.contacts-link:focus,
.contacts-tel:focus {
  color: var(--accent-text-color);
}

/* -------  portfolio-------- */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  cursor: pointer;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-works-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.section-works-buttons {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}
