:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-color: #2f303a;
  --white-color: #ffffff;
  --icon-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----------header list -----------------*/
.page-header {
  border-bottom: 1px solid #ececec;
}

.main-head {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
}

.logo-part {
  color: var(--accent-text-color);
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link-studio,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .header-items + .header-items {
  margin-left: 50px;
}

.head-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.header-tel {
  color: var(--primary-text-color);
}

.svg {
  margin-right: 10px;
  fill: currentColor;
}

.header-nav .link:hover,
.header-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-text-color);
}

.header-nav .link.current {
  color: var(--accent-text-color);
}

/* -----------------Hero--------------------- */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpeg);
  background-color: var(--hero-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  color: var(--white-color);
  background: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* -----------------------features-------------*/
.features,
.work {
  background-color: var(--white-color);
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  width: 270px;
  margin-right: 30px;
}

.feature-item:last-child {
  margin: 0;
}

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

/* ---------------our work--------------- */
.work-list {
  background-color: var(--white-color);
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  width: 370px;
  margin-right: 30px;
}

.work-item:last-child {
  margin: 0;
}

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* -----------------------team------------------------ */
.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background: #f5f4fa;
}

.team-list {
  display: flex;
}

.person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-title {
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  width: calc((100% - 90px)) / 4;
}

.soc-item {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.soc-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.soc-list:last-child {
  margin-right: 0;
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

.soc {
  fill: currentColor;
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

/* -------------------Clients---------------------- */
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-title {
  margin-bottom: 50px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients,
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-link {
  width: 100%;
  height: 100%;
  max-width: 170px;
  color: var(--icon-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-text-color);
  color: var(--accent-text-color);
}

.clients-icon {
  fill: currentColor;
}

.clients-list {
  justify-content: center;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
}

.clients-list:last-child {
  margin-right: 0;
}
/* --------------------footer---------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--hero-color);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-contact-item {
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 9px;
}

.contacts-link,
.contacts-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-address:hover,
.contacts-link:hover,
.contacts-tel:hover,
.contacts-address:focus,
.contacts-link:focus,
.contacts-tel:focus {
  color: var(--accent-text-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-left: 70px;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-soc {
  display: flex;
  justify-content: center;
}

.footer-soc-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-soc-list:last-child {
  margin-right: 0;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

/* -------  portfolio-------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-works {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.section-list {
  margin-left: 8px;
}

.section-list:first-child {
  margin-left: 0;
}

.section-works-button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.section-works-buttons {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.section-works-button:hover,
.section-works-button:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-works-buttons:hover,
.section-works-buttons:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-works-item {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.section-works-list {
  width: calc((100% / 3 - 60px));
  width: 370px;
}

.section-works-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-works-list:nth-child(3n) {
  margin-right: 0;
}

.section-works-list:hover,
.section-works-list:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-works-list {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
