:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-color: #2f303a;
  --white-color: #ffffff;
  --icon-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----------header list -----------------*/
.page-header {
  border-bottom: 1px solid #ececec;
}

.main-head {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
}

.logo-part {
  color: var(--accent-text-color);
}

.header-nav .link.current {
  color: var(--accent-text-color);
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.header-contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .link:hover,
.header-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-text-color);
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .header-items + .header-items {
  margin-left: 50px;
}

.head-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-tel {
  color: var(--primary-text-color);
}

.svg {
  margin-right: 10px;
  fill: currentColor;
}

/* -----------------Hero--------------------- */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpeg);
  background-color: var(--hero-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  color: var(--white-color);
  background: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* -----------------------features-------------*/
.features,
.work {
  background-color: var(--white-color);
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  width: 270px;
  margin-right: 30px;
}

.feature-item:last-child {
  margin: 0;
}

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

/* ---------------our work--------------- */
.work-list {
  background-color: var(--white-color);
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  width: 370px;
  margin-right: 30px;
  position: relative;
}

.work-item:last-child {
  margin: 0;
}

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work-top {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.work-variants {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}

/* -----------------------team------------------------ */
.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background: #f5f4fa;
}

.team-list {
  display: flex;
}

.person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-title {
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  width: calc((100% - 90px)) / 4;
}

.soc-item {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.soc-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.soc-list:last-child {
  margin-right: 0;
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc {
  fill: currentColor;
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

/* -------------------Clients---------------------- */
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-title {
  margin-bottom: 50px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients,
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-link {
  width: 100%;
  height: 100%;
  max-width: 170px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-text-color);
  color: var(--accent-text-color);
}

.clients-icon {
  fill: currentColor;
}

.clients-list {
  justify-content: center;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
}

.clients-list:last-child {
  margin-right: 0;
}
/* --------------------footer---------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--hero-color);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-item {
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 9px;
}

.contacts-link,
.contacts-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-address:hover,
.contacts-link:hover,
.contacts-tel:hover,
.contacts-address:focus,
.contacts-link:focus,
.contacts-tel:focus {
  color: var(--accent-text-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-left: 70px;
}

.footer-title,
.subscribe-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-soc {
  display: flex;
  justify-content: center;
}

.footer-soc-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-soc-list:last-child {
  margin-right: 0;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

.footer-subscribe {
  margin-left: auto;
}

.subscribe-form {
  position: relative;
  display: flex;
  justify-content: center;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  border: none;
  padding: 10px 29px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--accent-text-color);
}

.subscribe-icon {
  margin-left: 10px;
}

.subscribe-input:focus {
  border: 2px solid var(--accent-text-color);
}

.subscribe-input:focus + .subscribe-label,
.subscribe-input:not(:placeholder-shown) + .subscribe-label {
  transform: translateY(-40px);
}

.subscribe-input:not(:placeholder-shown) {
  transform: translateY(0);
}

/* -------  portfolio-------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-works {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.section-list {
  margin-left: 8px;
}

.section-list:first-child {
  margin-left: 0;
}

.section-works-button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-works-buttons {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-works-button:hover,
.section-works-button:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-works-buttons:hover,
.section-works-buttons:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-works-item {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.section-works-list {
  width: calc((100% / 3 - 60px));
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-top-wrap {
  position: relative;
  overflow: hidden;
}

.works-top-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  line-height: 1.56;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link {
  display: block;
}

.section-works-list:hover .works-top-text,
.section-works-list:focus .works-top-text {
  transform: translateY(0);
}

.section-works-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-works-list:nth-child(3n) {
  margin-right: 0;
}

.section-works-list:hover,
.section-works-list:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-works-list {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  letter-spacing: 0.06em;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-text-color);
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border-color: var(--accent-text-color);
}

.modal-commentbox {
  margin-bottom: 20px;
}

.check-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 7px;
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-check:checked + .check-text::before {
  background-color: var(--accent-text-color);
  border: 1px solid black;
  background-image: url(../images/check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-check:focus + .check-text::before {
  border-color: var(--accent-text-color);
}

.modal-label-part {
  color: var(--accent-text-color);
  margin-left: 5px;
}

.modal-btn {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-text-color);
}

.modal-button {
  display: block;
  text-align: center;
}
