.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 450px;
  min-height: 609px;
  background-color: var(--white-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  @include desktop {
    line-height: 1.15;
  }
}

.modal__field {
  margin-bottom: 10px;
}

.modal__input-wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__input:focus + & {
    fill: var(--accent-text-color);
  }
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  letter-spacing: 0.06em;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-text-color);
  }
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-text-color);
  }
}

.modal__commentbox {
  margin-bottom: 20px;
}

.modal__check-text {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  @include desktop {
    font-size: 14px;
    line-height: 1.71px;
  }
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 3px;
    margin-right: 7px;
  }
  .modal__check:checked + &::before {
    background-color: var(--accent-text-color);
    border: 1px solid black;
    background-image: url(../images/check.svg);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal__check:focus + &::before {
    border-color: var(--accent-text-color);
  }
}

.modal__checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__label-part {
  color: var(--accent-text-color);
  margin-left: 5px;
}

.modal__btn {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}

.modal__button {
  display: block;
  text-align: center;
}
